{% extends 'base.html' %}

{% block content  %}

    <h1>Add stock...</h1>

    <form class="d-flex" action="{% url 'add_stock' %}" method="POST">
    {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Add Ticker to List" aria-label="Search" name="ticker">
        <button class="btn btn-outline-success" type="submit">Add Yolo</button>
    </form>


    {% comment %} ITEM auto parses KVP in list {% endcomment %}
    {% for item in ticker %}
       {{ item }} | <a href="{% url 'delete' item.id  %}">Delete</a>
       <br>
       <br>
       <form method="POST" action="{% url 'delete_post' stock.id %}">
        {% csrf_token %}
            <button type="submit" class="hidebtn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1L1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                </svg>
            </button>
        </form>
    {% endfor %}

{% endblock content  %}