{% extends 'base.html' %}

{% block content  %}

    <h1>Add stock...to your watchlist</h1>

    <form class="d-flex" action="{% url 'watchlist' %}" method="POST">
    {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Add Ticker to List" aria-label="Search" name="ticker">
        <button class="btn btn-outline-success" type="submit">Add Yolo</button>
    </form>


    {% comment %} ITEM auto parses KVP in list {% endcomment %}
    <table class="table">
        <thead>
            <tr>  
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Previous Close</th>
                <th scope="col">Market Cap</th>
                <th scope="col">YTD Change</th>
                <th scope="col">52 W H</th>
                <th scope="col">52 W L</th>
                <th></th>
            </tr>
        </thead>   
        <tbody>
            {% for list_item in output %}
                <tr>
                    <th scope="row">{{ list_item.companyName }}</th>
                    <td>{{ list_item.latestPrice }}</td>
                    <td>{{ list_item.previousClose }}</td>
                    <td>{{ list_item.marketCap }}</td>
                    <td>{{ list_item.ytdChange }}</td>
                    <td>{{ list_item.week52High }}</td>
                    <td>{{ list_item.week52Low }}</td>
                    <td> 
                        {% comment %} <form method="POST" action="{% url 'delete' stock.id  %}">
                        {% csrf_token %}
                            <button type="submit">
                            Delete
                            </button>
                        </form> {% endcomment %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<br><br>
{{ output }}

{% endblock content  %}